*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body{
    font-family: 'Work Sans', sans-serif;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

header{
    color: #fff;

}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    backdrop-filter: blur(4px);
    border-bottom: 1px solid #fff;
    background-color: #00000063;
}

.header__container nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 20px;
    transition: .2s;
    font-weight: bold;
    &:hover{
        color: #ff0000;
    }
}
.logo img {
    width: 100%;
    max-width: 200px;
    filter: invert(100%);
}

.header__phone {
    display: flex;
    align-items: center;
    gap: 5px;
}
.menu__hamburguer {
    cursor: pointer;
    font-size: 1.5em;
    transition: .2s;
    display: none !important;

    &:hover{
        color: #ff0000;
    }
}
.banner__section {
    background-image: url(/assets/portaria-remota.webp);
    width: 100%;
    height: 100vh;
    margin-top: -80px;
    background-size: cover;
}

@media screen and (max-width:921px){
    .telefone_e_menu_logo {
        display: flex;
        justify-content: space-between;
        width: 240px;
    }
    .header__container nav {
        display: none;
    }
    .menu__hamburguer {
        display: flex !important;
    }
}
@media screen and (max-width:421px){
    .header__phone{
        display: none;
    }
    .telefone_e_menu_logo {
        width: 25px;
    }
}
